*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/src/client_secret_199726778720-r8t8civm0c1q0smklkl69cfe36h7ancv.apps.googleusercontent.com.json
C:\Users\MinSu\UMC_AndroidStudy\Chapter10\app/src/client_secret_199726778720-r8t8civm0c1q0smklkl69cfe36h7ancv.apps.googleusercontent.com.json
